# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import scipy.stats as ss
from collections import Counter
import math 

from scipy import stats
import numpy as np
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings('ignore')

# Read Data

In [3]:
data = pd.read_csv('cardio.csv')

In [7]:
data.head(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [8]:
data.shape

(70000, 13)

# Missing Values & Duplicaet

In [9]:
# Check Null Values
data.isnull().values.any()

False

In [10]:
print("There is {} missing values in data frame".format(data.isnull().sum().sum()))

There is 0 missing values in data frame

In [11]:
print("There is {} duplicated values in data frame".format(data.duplicated().sum()))

There is 0 duplicated values in data frame

In [12]:
# Delete The ID Column
del data['id']

In [13]:
data.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,19834,1,164,68.0,110,60,1,1,0,0,0,0



# Data Cleaning

In [14]:
# Convert Age from Days to Year 
data['age'] = np.floor(data['age'] / 365)
data.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1
2,51.0,1,165,64.0,130,70,3,1,0,0,0,1
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1
4,47.0,1,156,56.0,100,60,1,1,0,0,0,0
5,60.0,1,151,67.0,120,80,2,2,0,0,0,0
6,60.0,1,157,93.0,130,80,3,1,0,0,1,0
7,61.0,2,178,95.0,130,90,3,3,0,0,1,1
8,48.0,1,158,71.0,110,70,1,1,0,0,1,0
9,54.0,1,164,68.0,110,60,1,1,0,0,0,0

In [16]:
data.shape

(70000, 12)

# Body Mass Index Feature

In [17]:
def bmi_calc(w, h):
    return w/(h**2)

In [18]:
data["bmi"] = data["weight"]/ (data["height"]/100)**2

In [21]:
data.head(5)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,50.0,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,55.0,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,51.0,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,48.0,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,47.0,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

In [22]:
len(data.columns)

13

In [23]:
data.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,52.840671,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700,27.556513
std,6.766774,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003,6.091511
min,29.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.471784
25%,48.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,23.875115
50%,53.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,26.374068
75%,58.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,30.222222
max,64.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,298.666667

# Normalize the Dataset

In [29]:
s_list = ["age", "height", "weight", "ap_hi", "ap_lo", "bmi"]
def standartization(data):
    data_std = data.copy(deep=True)
    for column in s_list:
        data_std[column] = (data_std[column]-data_std[column].mean())/data_std[column].std()
    return data_std 
data_std=standartization(data)
data_std.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,-0.419797,2,0.443449,-0.847867,-0.122181,-0.088238,1,1,0,0,1,0,-0.917571
1,0.319108,1,-1.018161,0.749826,0.072610,-0.035180,3,1,0,0,1,1,1.210072
2,-0.272016,1,0.078046,-0.708937,0.007679,-0.141296,3,1,0,0,0,1,-0.664647
3,-0.715359,2,0.565250,0.541431,0.137540,0.017878,1,1,0,0,1,1,0.189439
4,-0.863140,1,-1.018161,-1.264657,-0.187111,-0.194354,1,1,0,0,0,0,-0.746175

# Splitting data into training and testing datasets

In [30]:
X = data_std.drop([ 'gender', 'smoke','cardio',], axis=1)
y = data_std['cardio']

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [32]:
len(X_train)

56000

In [33]:
len(y_train)

56000

# Import the classifiers

In [34]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.metrics import roc_curve, roc_auc_score

In [ ]:
# Instantiate the classifiers and make a list
classifiers = [RandomForestClassifier(), 
               SVC(), 
               KNeighborsClassifier(), 
               GaussianNB(),
               XGBClassifier()]

# Define a result table as an empty list
result_table_list = []

# Train the models and record the results
for cls in classifiers:
    model = cls.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    fpr, tpr, _ = roc_curve(y_test,  y_pred)
    auc = roc_auc_score(y_test, y_pred)
    
    result_table_list.append({'classifiers': cls.__class__.__name__,
                              'fpr': fpr, 
                              'tpr': tpr, 
                              'auc': auc})

# Convert the list to a DataFrame
result_table = pd.DataFrame(result_table_list)

# Set name of the classifiers as index labels
result_table.set_index('classifiers', inplace=True)

# Display the result directly in a notebook or script
print(result_table)

# Plot the figure

In [ ]:
fig = plt.figure(figsize=(8,6))

for i in result_table.index:
    plt.plot(result_table.loc[i]['fpr'], 
             result_table.loc[i]['tpr'], 
             label="{}, AUC={:.3f}".format(i, result_table.loc[i]['auc']))
    
plt.plot([0,1], [0,1], color='orange', linestyle='--')

plt.xticks(np.arange(0.0, 1.1, step=0.1))
plt.xlabel("Flase Positive Rate", fontsize=15)

plt.yticks(np.arange(0.0, 1.1, step=0.1))
plt.ylabel("True Positive Rate", fontsize=15)

plt.title('ROC Curve Analysis', fontweight='bold', fontsize=15)
plt.legend(prop={'size':13}, loc='lower right')

plt.show()

In [ ]:
fig.savefig('multiple_roc_curve_10T.png')

# Random Forest Model Investigation

In [ ]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
history = rfc.fit(X_train, y_train)

In [ ]:
y_pred_rfc = rfc.predict(X_test)

In [ ]:
# Random Forest Model Evaluation
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, y_pred_rfc))
print(classification_report(y_test, y_pred_rfc))

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

print("Precision score: {}".format(precision_score(y_test, y_pred_rfc)))
print("Recall score: {}".format(recall_score(y_test, y_pred_rfc)))
print("F1 Score: {}".format(f1_score(y_test, y_pred_rfc)))

In [ ]:
print(rfc.score(X_train, y_train), rfc.score(X_test, y_test))
rfc.score(X_test, y_test)

In [ ]:
#Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies_rfc = cross_val_score(estimator=rfc, X=X_train, y=y_train, cv=10)

In [ ]:
accuracies_rfc

In [ ]:
accuracies_rfc.mean()

In [ ]:
accuracies_rfc.std()

# SVM Model Investigation

In [ ]:
from sklearn.svm import SVC
svc = SVC(gamma='auto')
svc.fit(X_train, y_train)

In [ ]:
y_pred_svc = svc.predict(X_test)

In [ ]:
# SVM Model Evaluation
print(confusion_matrix(y_test, y_pred_svc))
print(classification_report(y_test, y_pred_svc))

In [ ]:
print(svc.score(X_train, y_train), svc.score(X_test, y_test))
svc.score(X_test, y_test)

In [ ]:
#Applying k-Fold Cross Validation
accuracies_svc = cross_val_score(estimator=svc, X=X_train, y=y_train, cv=10, n_jobs=4)

In [ ]:
accuracies_svc

In [ ]:
accuracies_svc.mean()

In [ ]:
accuracies_svc.std()

# K-Nearest Neighbor Model Investigation

In [ ]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=100)
knn.fit(X_train, y_train)

In [ ]:
y_pred_knn = knn.predict(X_test)

In [ ]:
# KNN Model Evaluation
print(confusion_matrix(y_test, y_pred_knn))
print(classification_report(y_test, y_pred_knn))

In [ ]:
print(knn.score(X_train, y_train), knn.score(X_test, y_test))
knn.score(X_test, y_test)

In [ ]:
#Applying k-Fold Cross Validation
accuracies_knn = cross_val_score(estimator=knn, X=X_train, y=y_train, cv=10)

In [ ]:
accuracies_knn

In [ ]:
accuracies_knn.mean()

In [ ]:
accuracies_knn.std()

# Naive Bayes Model Investigation

In [ ]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
nbc = GaussianNB()
nbc.fit(X_train, y_train)

In [ ]:
y_pred_nbc = nbc.predict(X_test)

In [ ]:
# Naive Bayes Model Evaluation
print(confusion_matrix(y_test, y_pred_nbc))
print(classification_report(y_test, y_pred_nbc))

In [ ]:
print(nbc.score(X_train, y_train), nbc.score(X_test, y_test))
nbc.score(X_test, y_test)

In [ ]:
#Applying k-Fold Cross Validation
accuracies_nbc = cross_val_score(estimator=nbc, X=X_train, y=y_train, cv=10)

In [ ]:
accuracies_nbc

In [ ]:
accuracies_nbc.mean()

In [ ]:
accuracies_nbc.std()

# XGBoost Model Investigation

In [ ]:
# XGBoost Model
from xgboost import XGBClassifier
xgb = XGBClassifier(learning_rate=0.02, n_estimators=600)
xgb.fit(X_train, y_train)

In [ ]:
y_pred_xgb = xgb.predict(X_test)

In [ ]:
# XGBoost Model Evaluation
print(confusion_matrix(y_test, y_pred_xgb))
print(classification_report(y_test, y_pred_xgb))

In [ ]:
print(xgb.score(X_train, y_train), xgb.score(X_test, y_test))
xgb.score(X_test, y_test)

In [ ]:
#Applying k-Fold Cross Validation
accuracies_xgb = cross_val_score(estimator=xgb, X=X_train, y=y_train, cv=10)

In [ ]:
accuracies_xgb

In [ ]:
accuracies_xgb.mean()

In [ ]:
accuracies_xgb.std()